<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="MyDBConnection" connectionString="Data Source=127.0.0.1;port=3306;Initial Catalog=dbExemplo;User Id=root;password=12345678;SslMode=none;" providerName="MySql.Data.MySqlClient;" />
  </connectionStrings>
</configuration>